img.logo{
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    display: flex;

}
body{
    background: azure;
}

/* div tags */
.navbar{
    background-color: #006064; /* blueish */
    display: inline-block;
    width: 95%;
    max-width: 100%;
}
.inline-div{
    display: inline-block;
    width: auto;
}

.container{
    text-align: center;
}
.right{
    width: 25%;
    text-align: center;
    float: right;
    border-left: 2px;
    border-left-style: solid;
    border-left-color: #006064;
    height: auto;

}
.middle{
    width: auto;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    
}
.left{
    width: 25%;
    text-align: center;
    float: left;
    border-right: #006064;
    border-right: 2px;
    border-right-style: solid;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.image-container{
    text-align: center;

}
.shop-image{

    width: 40%;
    height: 40%;
    background: url("/images/shop.png");
}
/*nav bar button styles*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

}

li {
    text-align: center;
    display: inline-flex;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#log-in-btn{
    cursor: pointer;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.login{
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #006064;}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Log In Styles*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #006064;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.registerbtn{
    text-align: center;
    display: inline-flex;
    margin: 0 auto;
    width: auto;
    padding: 10px 10px;
    background-color: #008185;
    color: azure;
    text-decoration: none;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    height: 20%;
    border-radius: 20%;
}

.container01 {
    padding: 16px;
    width: auto;
}

span.psw {
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: azure;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }

    .registerbtn {
        width: 100%;
    }
}
/*The slider image*/
.slider-container{
    width: 100%;
    height: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
a.control_prev, a.control_next {
    vertical-align: center;
    z-index: 1;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
    float: left;
}

a.control_next {
    float: right;
    border-radius: 2px 0 0 2px;
}


img.mySlides1, img.mySlides2{
    width: 100%;
    height: 100%;
}
/*GALLERY SLIDER*/
#gallery-container{
    width: 100%;
    height: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    border-top: 2px solid #006064;
}



/*rounded button*/
#rounded-btn{
    display:block;
    height: 30px;
    width: 30px;
    z-index: 3px;
    border-radius: 50%;
    border: 2px solid #006064;
    background-color: azure;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#cust-supp-icon{
    max-width: 100%;
    max-height: 90%;
}
#buy-btn-div{
    z-index: 3 !important;
    padding-top: 10px;
    text-align: center;
}
#rounded-btn:hover{
    background-color: #006064;
}
/*STANDING TABLE*/
.t-container{
    width: 100%;
    height: auto;
    text-align: center;
}
.t-div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: azure;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: azure;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
section{
    background: -webkit-linear-gradient(left, #25b7c4, #008185);
    background: linear-gradient(to right, #006064, #008185);
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px;
}
/*Display if qualified*/
#qualified{
    float: left;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 2px solid darkgreen;
    background-color: #3edd4c;
    text-align: center;
    margin-left: auto;
}
#n-qualified{
    float: left;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 2px solid darkred;
    background-color: #ff2324;
    text-align: center;
    margin-left: auto;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
    background-color: azure;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/*TABS SECTIONS*/
.wrapper {
    margin:30px auto;
    width:80%;
    font-family:sans-serif;
    color:#555;
    font-size:14px;
    line-height:24px;
    text-align: center;
}
p {
    text-align:center;
    margin:20px 0;
    font-size:16px;
}
.tabs {
li {
    float:left;
    width:20%;
}
a {
    display:block;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:#888;
    padding:20px 0;
    border-bottom:2px solid #888;
    background:#f7f7f7;

&:hover, &.active {
              background:#ddd;
          }
}
}
.tabgroup {
div {
    padding:30px;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
}
}
.clearfix:after {
    content:"";
    display:table;
    clear:both;
}
